In [36]:
import pandas as pd
import matplotlib as mt
import os

## Cargue de los datos
Los datos a tratar, corresponden a todos aquellos productos activos que han presentado correcciones durante los inventarios cíclicos y que están ubicados en la bodega principal de la empresa empezando desde enero de 2018

| Field | Description |
| :- | :-- |
| TDATE | Fecha en la que se realizó la corrección al inventario |
| SKU | Identificador del item |
| LOC | Ubicación del item en la bodega compuesta por tres dimensiones (pasillo, columna y estantería) |
| QTY | Cantidad de items revisados, donde los menores a 0 representan las unidades faltantes mientras que las mayores a 0 la unidades adicionales no contabilizadas |
| AISLE | Número del pasillo de la ubicación del item |
| COLUMN | Columna en del pasillo en la que se encuentra el item |
| SHELF | Número de la estantería en la que se encuentra el item |
| TYPE | Tipo de item |
| IG | Agrupación del item |
| IPG | Precio de venta del item |
| HTS | Clasificación fiscal (Gobierno - IDRS) del item |
| CLASS | Flag para identificar si un item se vende (1) o no (0) |
| PLANNING | Flag para identificar si un item se presupuesta (1) o no (0) |
| ABC | Pareto del nivel de inventario |
| UOM | Tipo de unidad de medida del item |
| CREATION | Fecha de creación del item en el sistema |
| CAT | Categoría de agrupación del item |
| COSTX | Valor de compra del item, el valor depende de la cantidad analizada |
| QTYBEFORE | Número de unidades antes de la corrección |
| QTYVAR | Por diligenciar |
| WEIGHT | Peso del item |
| LENGTH | Largo del item |
| HEIGHT | Altura del item |
| WIDTH | Ancho del item |
| CONTRPERC | Porcentaje de presencia del item |

In [37]:
mainpath = '../Datos'
filename = 'LOCTRANSCX.csv'
fullpath =  os.path.join(mainpath,filename)
fullpath

'../Datos\\LOCTRANSCX.csv'

In [38]:
df = pd.read_csv(fullpath) 
pd.set_option('max_columns', df.shape[1])
df.head(10).all

<bound method DataFrame.all of       TDATE      SKU    LOC   QTY  AISLE COLUMN  SHELF  TYPE    IG  IPG  \
0  20180210  SKU3921   17Q3  -1.0   17.0      Q      3  LOC4  IG56  NaN
1  20180210  SKU3922   17Q2   1.0   17.0      Q      2  LOC4  IG56  NaN
2  20180210  SKU3923   17W2   4.0   17.0      W      2  LOC4  IG56  NaN
3  20180210  SKU3924   17B2  -1.0   17.0      B      2  LOC4  IG56  NaN
4  20180210  SKU3926   15P7  -2.0   15.0      P      7  LOC4  IG56  NaN
5  20180210  SKU3927   18O9  18.0   18.0      O      9  LOC4  IG56  NaN
6  20180210  SKU3927   19I8  -3.0   19.0      I      8  LOC4  IG56  NaN
7  20180210  SKU3927   19N8 -21.0   19.0      N      8  LOC4  IG56  NaN
8  20180210  SKU3927   22H7   2.0   22.0      H      7  LOC4  IG56  NaN
9  20180210  SKU3928  02I10   2.0    2.0      I     10  LOC5  IG56  NaN

      HTS  CLASS  PLANNING ABC UOM  CREATION    CAT      COSTX  QTYBEFORE  \
0  HTS119      1         1   B  PC  20161028  CAT17  -289.8802       38.0
1  HTS119      1         1   B  PC  20161028  CAT17   289.5527        4.0
2  HTS119      1         1   C  PC  20161028  CAT17  1111.3121        8.0
3  HTS119      1         1   B  PC  20161028  CAT17  -266.8633       11.0
4  HTS119      1         1   C  PC  20161028  CAT17  -517.0436       18.0
5  HTS119      1         1   B  PC  20161028  CAT17  7206.8887        1.0
6  HTS119      1         1   B  PC  20161028  CAT17 -1201.1481       16.0
7  HTS119      1         1   B  PC  20161028  CAT17 -8408.0369       21.0
8  HTS119      1         1   B  PC  20161028  CAT17   800.7654        8.0
9  HTS119      1         1   A  PC  20161028  CAT17   792.6879       15.0

   QTYVAR  WEIGHT  LENGTH  HEIGHT  WIDTH  CONTRPERC
0      -3     0.0     0.0     0.0    0.0       0.01
1      25     0.0     0.0     0.0    0.0       0.00
2      50     0.0     0.0     0.0    0.0       0.00
3      -9     0.0     0.0     0.0    0.0       0.00
4     -11     0.0     0.0     0.0    0.0       0.00
5    1800     0.0     0.0     0.0    0.0       0.01
6     -19     0.0     0.0     0.0    0.0       0.01
7    -100     0.0     0.0     0.0    0.0       0.01
8      25     0.0     0.0     0.0    0.0       0.01
9      13     0.0     0.0     0.0    0.0       0.01  >

In [39]:
df.tail(10)

,TDATE,SKU,LOC,QTY,AISLE,COLUMN,SHELF,TYPE,IG,IPG,HTS,CLASS,PLANNING,ABC,UOM,CREATION,CAT,COSTX,QTYBEFORE,QTYVAR,WEIGHT,LENGTH,HEIGHT,WIDTH,CONTRPERC
16997,20201213,SKU8817,24A8,-2.0,24.0,A,8,LOC4,IG5,IPG1624,HTS67,1,0,C,BX,20000930,CAT2,-742.4594,2.0,-100,70.0,162.0,2.500,6.125,0.0
16998,20201213,SKU8817,25B5,-6.0,25.0,B,5,LOC4,IG5,IPG1624,HTS67,1,0,C,BX,20000930,CAT2,-2227.3783,6.0,-100,70.0,162.0,2.500,6.125,0.0
16999,20201213,SKU8824,21I6,-1.0,21.0,I,6,LOC4,IG5,IPG1624,HTS67,1,0,C,BX,20000930,CAT2,-432.5907,2.0,-50,70.0,162.0,2.500,6.125,0.0
17000,20201213,SKU8824,21K8,1.0,21.0,K,8,LOC4,IG5,IPG1624,HTS67,1,0,C,BX,20000930,CAT2,432.5907,0.0,100,70.0,162.0,2.500,6.125,0.0
17001,20201213,SKU8826,24I4,-1.0,24.0,I,4,LOC4,IG5,IPG1881,HTS67,1,0,C,BX,20050611,CAT2,-394.4248,1.0,-100,77.0,162.0,3.000,5.500,0.0
17002,20201213,SKU8964,23C10,1.0,23.0,C,10,LOC5,IG5,IPG1604,HTS67,1,0,C,BX,20000930,CAT2,316.3834,0.0,100,45.0,162.0,2.375,6.000,0.0
17003,20201213,SKU8971,21I2,2.0,21.0,I,2,LOC4,IG5,IPG1604,HTS67,1,0,C,BX,20001001,CAT2,626.9100,0.0,100,45.0,162.0,2.375,6.000,0.0
17004,20201213,SKU8972,22F8,15.0,22.0,F,8,LOC4,IG5,IPG1604,HTS67,1,0,C,BX,20000930,CAT2,4959.6974,11.0,136,45.0,162.0,2.375,6.000,0.0
17005,20201213,SKU8972,24I4,-4.0,24.0,I,4,LOC4,IG5,IPG1604,HTS67,1,0,C,BX,20000930,CAT2,-1322.5860,4.0,-100,45.0,162.0,2.375,6.000,0.0
17006,20201213,SKU8979,20G1,-1.0,20.0,G,1,LOC4,IG5,IPG1880,HTS67,1,0,C,BX,20050603,CAT2,-255.2001,2.0,-50,39.0,162.0,2.250,4.750,0.0

In [40]:

df.shape

(17007, 25)

## Eliminación de duplicados
Se procede a revisar si existen duplicados entre los datos

In [41]:
df[df.duplicated()==True]

,TDATE,SKU,LOC,QTY,AISLE,COLUMN,SHELF,TYPE,IG,IPG,HTS,CLASS,PLANNING,ABC,UOM,CREATION,CAT,COSTX,QTYBEFORE,QTYVAR,WEIGHT,LENGTH,HEIGHT,WIDTH,CONTRPERC
10286,20201213,SKU10071,07G7,1.0,7.0,G,7,LOC4,IG8,IPG1453,HTS15,1,1,A,BX,20150813,CAT3,2094.1441,0.0,100,33.00,13.0,8.5,13.0,0.10
10288,20201213,SKU10071,10K2,1.0,10.0,K,2,LOC4,IG8,IPG1453,HTS15,1,1,A,BX,20150813,CAT3,2094.1441,0.0,100,33.00,13.0,8.5,13.0,0.10
10355,20201213,SKU10231,15U2,1500.0,15.0,U,2,LOC4,IG51,IPG294,HTS15,1,1,A,PC,20170816,CAT16,1158.6669,0.0,100,0.01,0.5,0.5,0.5,0.05
10358,20201213,SKU10231,99D28,1500.0,99.0,D,28,LOC5,IG51,IPG294,HTS15,1,1,A,PC,20170816,CAT16,1158.6669,0.0,100,0.01,0.5,0.5,0.5,0.05
10469,20201213,SKU10347,15G2,2.0,15.0,G,2,LOC4,IG57,NaN,HTS151,1,0,A,BX,20180924,CAT17,433.5837,0.0,100,2.00,4.0,3.0,16.0,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16899,20201213,SKU1759,11G2,1.0,11.0,G,2,LOC4,IG64,NaN,HTS15,1,1,A,BX,20131101,CAT14,681.1098,0.0,100,22.00,16.0,14.0,12.0,0.09
16901,20201213,SKU1760,11U3,1.0,11.0,U,3,LOC4,IG64,NaN,HTS15,1,1,A,BX,20131101,CAT14,791.6199,0.0,100,22.00,16.0,14.0,12.0,0.02
16903,20201213,SKU1760,37I3,1.0,37.0,I,3,LOC4,IG64,NaN,HTS15,1,1,A,BX,20131101,CAT14,791.6199,0.0,100,22.00,16.0,14.0,12.0,0.02
16954,20201213,SKU6156,21G9,1.0,21.0,G,9,LOC4,IG7,IPG1815,HTS95,1,1,A,BX,20160721,CAT8,1023.6613,0.0,100,60.00,192.0,3.0,7.0,0.04
16956,20201213,SKU6156,22D1,1.0,22.0,D,1,LOC4,IG7,IPG1815,HTS95,1,1,A,BX,20160721,CAT8,1023.6613,0.0,100,60.00,192.0,3.0,7.0,0.04

In [42]:
df[(df.TDATE == '2018-07-24') & (df.COLUMN == 'V')]

Empty DataFrame
Columns: [TDATE, SKU, LOC, QTY, AISLE, COLUMN, SHELF, TYPE, IG, IPG, HTS, CLASS, PLANNING, ABC, UOM, CREATION, CAT, COSTX, QTYBEFORE, QTYVAR, WEIGHT, LENGTH, HEIGHT, WIDTH, CONTRPERC]
Index: []

Se eliminan los duplicados generados por el sistema al momento de generar registros de aquellos artículos que fueron encontrados mientras no fueron planificados

In [43]:
df.drop_duplicates(keep='first', inplace=True)
df.shape

(16333, 25)

## Corrección de formatos de campos

| **Field** | **From** | **To** |
| :-: | :-: | :-: |
| TDATE | Entero | Fecha |
| CREATION | Entero | Fecha |

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16333 entries, 0 to 17006
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TDATE      16333 non-null  int64
 1   SKU        16333 non-null  object
 2   LOC        16333 non-null  object
 3   QTY        16333 non-null  float64
 4   AISLE      16261 non-null  float64
 5   COLUMN     16261 non-null  object
 6   SHELF      16333 non-null  int64
 7   TYPE       16261 non-null  object
 8   IG         16333 non-null  object
 9   IPG        8225 non-null   object
 10  HTS        16323 non-null  object
 11  CLASS      16333 non-null  int64
 12  PLANNING   16333 non-null  int64
 13  ABC        16333 non-null  object
 14  UOM        16333 non-null  object
 15  CREATION   16333 non-null  int64
 16  CAT        16333 non-null  object
 17  COSTX      16333 non-null  float64
 18  QTYBEFORE  16333 non-null  float64
 19  QTYVAR     16333 non-null  int64
 20  WEIGHT     16333 non-null  float64
 21  LENGTH     16333 non-null  float64
 22  HEIGHT     16333 non-null  float64
 23  WIDTH      16333 non-null  float64
 24  CONTRPERC  16333 non-null  float64
dtypes: float64(9), int64(6), object(10)
memory usage: 3.2+ MB

In [45]:
df.TDATE = pd.to_datetime(df.TDATE, format='%Y%m%d') 
df.CREATION = pd.to_datetime(df.CREATION, format='%Y%m%d') 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16333 entries, 0 to 17006
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TDATE      16333 non-null  datetime64[ns]
 1   SKU        16333 non-null  object
 2   LOC        16333 non-null  object
 3   QTY        16333 non-null  float64
 4   AISLE      16261 non-null  float64
 5   COLUMN     16261 non-null  object
 6   SHELF      16333 non-null  int64
 7   TYPE       16261 non-null  object
 8   IG         16333 non-null  object
 9   IPG        8225 non-null   object
 10  HTS        16323 non-null  object
 11  CLASS      16333 non-null  int64
 12  PLANNING   16333 non-null  int64
 13  ABC        16333 non-null  object
 14  UOM        16333 non-null  object
 15  CREATION   16333 non-null  datetime64[ns]
 16  CAT        16333 non-null  object
 17  COSTX      16333 non-null  float64
 18  QTYBEFORE  16333 non-null  float64
 19  QTYVAR     16333 non-null  int64
 20  WEIGHT     16333 non-null  float64
 21  LENGTH     16333 non-null  float64
 22  HEIGHT     16333 non-null  float64
 23  WIDTH      16333 non-null  float64
 24  CONTRPERC  16333 non-null  float64
dtypes: datetime64[ns](2), float64(9), int64(4), object(10)
memory usage: 3.2+ MB

In [46]:
df.TDATE.head()

0   2018-02-10
1   2018-02-10
2   2018-02-10
3   2018-02-10
4   2018-02-10
Name: TDATE, dtype: datetime64[ns]

## Manejo de registros con nulos
* Eliminación de la columna IPG por su gran cantidad de valores vacios
* Crearemos dos data frames:
    * df_na_free: eliminará los registros nulos. 
    * df_imp: Reemplazará los NA con diferentes técnicas.
* Imputar valores aleatorios en las columnas HTS, TYPE, COLUMN, AISLE

In [47]:
df.drop(labels=['IPG','SKU','LOC'],axis=1,inplace=True)
df.columns

Index(['TDATE', 'QTY', 'AISLE', 'COLUMN', 'SHELF', 'TYPE', 'IG', 'HTS',
       'CLASS', 'PLANNING', 'ABC', 'UOM', 'CREATION', 'CAT', 'COSTX',
       'QTYBEFORE', 'QTYVAR', 'WEIGHT', 'LENGTH', 'HEIGHT', 'WIDTH',
       'CONTRPERC'],
      dtype='object')

In [48]:
# Borramos cualquier fila con todos los valores nulos
df.dropna(axis=0,how="all", inplace=True)

# Creamos df_na_free eliminando los registros con valores NA
df_na_free = df.dropna(axis=0,how="any", inplace=False)

In [49]:
df_imp = df

# Reemplazamos los valores NA del pasillo por el número 0
df_imp.AISLE.fillna(value=0,inplace=True)
df_imp.AISLE.describe()

# Reemplazamos los valores NA del pasillo por el texto N/A
df_imp.COLUMN.fillna(value='N/A', inplace=True)
df_imp.COLUMN.unique()

df_imp.TYPE.fillna(value='N/A', inplace=True)
df_imp.TYPE.unique()

df_imp.HTS.fillna(value='NO HTS', inplace=True)
df_imp.HTS.unique()

array(['HTS119', 'HTS121', 'HTS24', 'HTS50', 'HTS15', 'HTS66', 'HTS16',
       'HTS37', 'HTS55', 'HTS40', 'HTS46', 'HTS58', 'HTS41', 'HTS59',
       'HTS51', 'HTS35', 'HTS33', 'HTS43', 'HTS53', 'HTS95', 'HTS67',
       'HTS81', 'HTS56', 'HTS6', 'HTS48', 'HTS73', 'HTS19', 'HTS115',
       'HTS117', 'HTS17', 'HTS47', 'HTS36', 'HTS97', 'HTS69', 'HTS79',
       'HTS61', 'HTS4', 'NO HTS', 'HTS110', 'HTS103', 'HTS9', 'HTS14',
       'HTS148', 'HTS57', 'HTS25', 'HTS153', 'HTS150', 'HTS167', 'HTS157',
       'HTS62', 'HTS18', 'HTS173', 'HTS21', 'HTS23', 'HTS168', 'HTS175',
       'HTS156', 'HTS166', 'HTS75', 'HTS76', 'HTS99', 'HTS42', 'HTS45',
       'HTS65', 'HTS71', 'HTS78', 'HTS82', 'HTS124', 'HTS94', 'HTS22',
       'HTS85', 'HTS89', 'HTS74', 'HTS159', 'HTS132', 'HTS29', 'HTS170',
       'HTS72', 'HTS120', 'HTS90', 'HTS107', 'HTS161', 'HTS123', 'HTS138',
       'HTS86', 'HTS163', 'HTS49', 'HTS39', 'HTS60', 'HTS54', 'HTS32',
       'HTS52', 'HTS63', 'HTS114', 'HTS38', 'HTS80', 'HTS171', 'HTS77',
       'HTS100', 'HTS26', 'HTS10', 'HTS111', 'HTS155', 'HTS104', 'HTS112',
       'HTS101', 'HTS146', 'HTS102', 'HTS158', 'HTS140', 'HTS143', 'HTS2',
       'HTS3', 'HTS20', 'HTS91', 'HTS44', 'HTS151', 'HTS92', 'HTS12',
       'HTS83', 'HTS8', 'HTS93', 'HTS34', 'HTS96', 'HTS27', 'HTS98',
       'HTS11', 'HTS5', 'HTS169', 'HTS165', 'HTS164', 'HTS172', 'HTS154',
       'HTS136'], dtype=object)

In [50]:
df_imp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16333 entries, 0 to 17006
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TDATE      16333 non-null  datetime64[ns]
 1   QTY        16333 non-null  float64
 2   AISLE      16333 non-null  float64
 3   COLUMN     16333 non-null  object
 4   SHELF      16333 non-null  int64
 5   TYPE       16333 non-null  object
 6   IG         16333 non-null  object
 7   HTS        16333 non-null  object
 8   CLASS      16333 non-null  int64
 9   PLANNING   16333 non-null  int64
 10  ABC        16333 non-null  object
 11  UOM        16333 non-null  object
 12  CREATION   16333 non-null  datetime64[ns]
 13  CAT        16333 non-null  object
 14  COSTX      16333 non-null  float64
 15  QTYBEFORE  16333 non-null  float64
 16  QTYVAR     16333 non-null  int64
 17  WEIGHT     16333 non-null  float64
 18  LENGTH     16333 non-null  float64
 19  HEIGHT     16333 non-null  float64
 20  WIDTH      16333 non-null  float64
 21  CONTRPERC  16333 non-null  float64
dtypes: datetime64[ns](2), float64(9), int64(4), object(7)
memory usage: 2.9+ MB

## Variables Dummy
Se crean dos dataframes nuevos con variables dummies, reemplazando las variables categóricas
* df_na_free_dummy: Basado en el dataframe que eliminó los registros vacíos
* df_imp_dummy: Basado en el dataframe que imputó los valores vacíos

In [51]:
def get_dummied_df(df):
    df_dummies = df
    col_obj = list()
    for col in df.columns.values:
        if df[str(col)].dtype == 'object':
            col_obj.append(col)
            dummy = pd.get_dummies(df[col],prefix=col)
            df_dummies = pd.merge(df_dummies, dummy, left_index= True, right_index= True)

    df_dummies.drop(labels=col_obj, axis=1, inplace = True)
    return df_dummies

In [52]:
df_na_free_dummy = get_dummied_df ( df_na_free )
df_imp_dummy = get_dummied_df ( df_imp )

In [53]:
df_na_free_dummy.head

<bound method NDFrame.head of            TDATE   QTY  AISLE  SHELF  CLASS  PLANNING   CREATION      COSTX  \
0     2018-02-10  -1.0   17.0      3      1         1 2016-10-28  -289.8802
1     2018-02-10   1.0   17.0      2      1         1 2016-10-28   289.5527
2     2018-02-10   4.0   17.0      2      1         1 2016-10-28  1111.3121
3     2018-02-10  -1.0   17.0      2      1         1 2016-10-28  -266.8633
4     2018-02-10  -2.0   15.0      7      1         1 2016-10-28  -517.0436
...          ...   ...    ...    ...    ...       ...        ...        ...
17002 2020-12-13   1.0   23.0     10      1         0 2000-09-30   316.3834
17003 2020-12-13   2.0   21.0      2      1         0 2000-10-01   626.9100
17004 2020-12-13  15.0   22.0      8      1         0 2000-09-30  4959.6974
17005 2020-12-13  -4.0   24.0      4      1         0 2000-09-30 -1322.5860
17006 2020-12-13  -1.0   20.0      1      1         0 2005-06-03  -255.2001

       QTYBEFORE  QTYVAR  WEIGHT  LENGTH  ...  CAT_CAT14  CAT_CAT15  \
0           38.0      -3     0.0     0.0  ...          0          0
1            4.0      25     0.0     0.0  ...          0          0
2            8.0      50     0.0     0.0  ...          0          0
3           11.0      -9     0.0     0.0  ...          0          0
4           18.0     -11     0.0     0.0  ...          0          0
...          ...     ...     ...     ...  ...        ...        ...
17002        0.0     100    45.0   162.0  ...          0          0
17003        0.0     100    45.0   162.0  ...          0          0
17004       11.0     136    45.0   162.0  ...          0          0
17005        4.0    -100    45.0   162.0  ...          0          0
17006        2.0     -50    39.0   162.0  ...          0          0

       CAT_CAT16  CAT_CAT17  CAT_CAT2  CAT_CAT3  CAT_CAT4  CAT_CAT5  CAT_CAT6  \
0              0          1         0         0         0         0         0
1              0          1         0         0         0         0         0
2              0          1         0         0         0         0         0
3              0          1         0         0         0         0         0
4              0          1         0         0         0         0         0
...          ...        ...       ...       ...       ...       ...       ...
17002          0          0         1         0         0         0         0
17003          0          0         1         0         0         0         0
17004          0          0         1         0         0         0         0
17005          0          0         1         0         0         0         0
17006          0          0         1         0         0         0         0

       CAT_CAT7  CAT_CAT8  CAT_CAT9
0             0         0         0
1             0         0         0
2             0         0         0
3             0         0         0
4             0         0         0
...         ...       ...       ...
17002         0         0         0
17003         0         0         0
17004         0         0         0
17005         0         0         0
17006         0         0         0

[16251 rows x 282 columns]>