In [26]:
import pathlib
import pandas as pd

from sklearn.preprocessing import StandardScaler

In [10]:
if str(pathlib.Path().absolute()).find('content') >= 0:
    sourcepath = 'https://raw.githubusercontent.com/rjnakano/manejo-inventarios-pdg/main/Datos/Transformed'
else:
    sourcepath = '../Datos/Transformed'
print(sourcepath)

../Datos/Transformed

In [19]:
dfTest1 = pd.read_csv('{}/dataframe_imputado_test1.csv'.format(sourcepath))
dfTest1.AISLE = dfTest1.AISLE.astype(str)

In [20]:
dfTest1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16244 entries, 0 to 16243
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AISLE      16244 non-null  object
 1   IG         16244 non-null  object
 2   HTS        16244 non-null  object
 3   PLANNING   16244 non-null  object
 4   ABC        16244 non-null  object
 5   UOM        16244 non-null  object
 6   CAT        16244 non-null  object
 7   COSTX      16244 non-null  float64
 8   QTYVAR     16244 non-null  float64
 9   CONTRPERC  16244 non-null  float64
dtypes: float64(3), object(7)
memory usage: 1.2+ MB

In [21]:
# Get the position of categorical columns
catColumnsPos = [dfTest1.columns.get_loc(col) for col in list(dfTest1.select_dtypes('object').columns)]
print('Categorical columns : {}'.format(list(dfTest1.select_dtypes('object').columns)))
print('Categorical columns position : {}'.format(catColumnsPos))

Categorical columns : ['AISLE', 'IG', 'HTS', 'PLANNING', 'ABC', 'UOM', 'CAT']
Categorical columns position : [0, 1, 2, 3, 4, 5, 6]

In [22]:
# Get the position of numerical columns
numColumnsPos = [dfTest1.columns.get_loc(col) for col in list(dfTest1.select_dtypes('float64').columns)]
print('Numerical columns : {}'.format(list(dfTest1.select_dtypes('float64').columns)))
print('Numerical columns position : {}'.format(numColumnsPos))

Numerical columns : ['COSTX', 'QTYVAR', 'CONTRPERC']
Numerical columns position : [7, 8, 9]

In [23]:
numdf = dfTest1[list(dfTest1.select_dtypes('float64').columns)]

In [27]:
scaled_features = StandardScaler().fit_transform(numdf.values)
scaled_features_df = pd.DataFrame(scaled_features, index=numdf.index, columns=numdf.columns)
scaled_features_df

          COSTX    QTYVAR  CONTRPERC
0     -0.029671 -0.037167  -0.185651
1      0.092655 -0.006905  -0.210139
2      0.266138  0.020477  -0.210139
3     -0.024812 -0.044242  -0.210139
4     -0.077628 -0.046455  -0.210139
...         ...       ...        ...
16239  0.098319 -0.033191  -0.210139
16240  0.163875 -0.033191  -0.210139
16241  1.078580  0.115063  -0.210139
16242 -0.247688 -0.143812  -0.210139
16243 -0.022349 -0.089049  -0.210139

[16244 rows x 3 columns]